[submodule "reflabs/themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "themes/osprey-delight"]
	path = themes/osprey-delight
	url = https://github.com/kdevo/osprey-delight.git
