<style>
h1, h2, h3, h4, h5, h6 {
  #color: #5AA60C;
}

h1.name {
  display: none;
}

.values {
  background: #efefef;
}

.values .value .value-multiplier {
  color: #555555;
  text-transform: capitalize;
}

.values .value .value-heading {
  text-transform: lowercase;
}

ul {
  list-style: square;
  padding: 0 0 0 2em;
}

nav h3 {
    color: #222222;
}

section .content .sub-header {
    font-size: 0.9em;
    color: #5AA60C;
}

dl {
    display: block;
}

dl dt {
    display: block;
    clear: both;
    float: left;
    padding: 0.3em;
}

dl dd {
    float: right;
    display: block;
}

#gdpr-description {
    margin: 2px;
    font-size: 0.8em;
    text-align: justified;
    padding: 0.8em 0;
}

input[type=email] {
    border: 3px solid #5AA60C;
}

input[type=checkbox] {
    width: auto;
    margin: 0 0.6em;
}

input[type=submit] {
    background-color: #5AA60C;
}

#gdpr-legal {
    font-size: 0.75em;
    text-align: justified;
    padding: 0.7em 0;
}

.gdpr-footer {
    display: block;
    margin: 0.25;
    border: 1px dashed #aaaaaa;
    text-align: justified;
    padding: 8px 8px;
    font-size: 0.7em;
    padding: 0.7em 0;
}

.gdpr-footer img {
    width: auto;
    float: left;
    margin: 0.2em 0.5em 0 0;
}

footer {
    background: #444444;
    display: block;
    clear: both;
}

</style>
